<!DOCTYPE html>
<html>
  <head>
    <title>Dough</title>
    <style>
      body {
        width: 1200px;
        height: 630px;
        background: linear-gradient(to bottom, white 70%, #404040 15%);
      }
      h1{display: inline;}
      p.big {
        line-height: 100;}
        h2{display: inline;}
}
    
    </style>
  </head>
  <body>
    <img src="https://cdn.glitch.com/4ec21e10-446e-4cc6-ba2c-b250d0f6d003%2FLogo.png?v=1610244112862" alt="dough" style="position:relative;left:10px;top:10px;width:95px;height:46px;">
        <span style="width:150px;display:inline-block"></span>

    
 
    <h2 style="font-family: sans-serif; font-size: 15px; font-style: italic ; color: gray; left: 50px; top 300px">
      {{ message }}
      
    </h2>
          <br><br>

    <br><br>
    
   <br>
    
    <h1 style="font-family: sans-serif; font-size: 20px; color: black; left: 50px; top 300px"> Hi </h1> 
    <h1 style="positon:absolute;font-family: sans-serif; font-size: 20px; color: #409B7A; left: 60px; top 300px">
      {{ name }},
    </h1>
   
    <h1 style="font-family: sans-serif; font-size: 20px; color: black; left: 50px; top 300px">
      Where would you like to go today?
    </h1><br><br><br><br>
    <p>      
    </p>
    <p>
      
    </p>
        <span style="width:150px;display:inline-block"></span>

      <h2 style="font-size: 15px; font-style: bold ; color: gray; left: 50px; top 300px">
      Shopping
      
    </h2>
        <span style="width:150px;display:inline-block"></span>
    <span style="width:150px;display:inline-block"></span>

      <h2 style="font-size: 15px; font-style: bold ; color: gray; left: 50px; top 300px">
      Bank
      
    </h2>
        <span style="width:150px;display:inline-block"></span>
    <span style="width:150px;display:inline-block"></span>

      <h2 style="font-size: 15px; font-style: bold ; color: gray; left: 50px; top 300px">
      Workplace
      
    </h2>
    
    <br><br><br>
    <span style="width:150px;display:inline-block"></span>

    <a href="shopping"> 
      <img src="https://cdn.glitch.com/4ec21e10-446e-4cc6-ba2c-b250d0f6d003%2Fshopp.png?v=1610244113067"
      width="132" height="179"></a>
        <span style="width:10px;display:inline-block"></span>

     <img src="https://cdn.glitch.com/4ec21e10-446e-4cc6-ba2c-b250d0f6d003%2FTrees%204.png?v=1610244176425" syle="width:25px; height:75px">
    
<!--   add space  -->
    <span style="width:120px;display:inline-block"></span>

    <a href="bank"><img src="https://cdn.glitch.com/4ec21e10-446e-4cc6-ba2c-b250d0f6d003%2Fbank.png?v=1610244118373"
      width="132" height="179"></a>
    <span style="width:100px;display:inline-block"></span>

     <img src="https://cdn.glitch.com/4ec21e10-446e-4cc6-ba2c-b250d0f6d003%2FTrees%204.png?v=1610244176425" syle="width:25px; height:75px">
    
<!--   add space  -->
    <span style="width:30px;display:inline-block"></span>
    <a href="job"><img src="https://cdn.glitch.com/4ec21e10-446e-4cc6-ba2c-b250d0f6d003%2FJob.png?v=1610244124291"
      width="132" height="179"></a><br>
                 
                 
    <br>
    <br>
    <br>
    <span style="width:120px;display:inline-block"></span>

    <h2  style="font-family: calibri; font-size: 20px;positon:relative;color: white; left: 60px; text-align: bottom">
      Cash:
    </h2>
        <span style="width:50px;display:inline-block"></span>

    <h2 style="font-family: sans-serif; font-size: 21px;positon:relative;color: white; left: 60px; text-align: bottom">
      $ {{ balance }}
    </h2>
        <span style="width:150px;display:inline-block"></span>


    <h2 style="font-family: calibri; font-size: 20px;positon:relative;color: white; left: 60px; text-align: bottom">
      Debit:
    </h2>
        <span style="width:50px;display:inline-block"></span>

    <h2 style="font-family: sans-serif; font-size: 21px;positon:relative;color: white; left: 60px; text-align: bottom">
      $ {{ debit }}
    </h2>
        <span style="width:160px;display:inline-block"></span>


    <h2 style="font-family: calibri; font-size: 20px;positon:relative;color: white; left: 60px; text-align: bottom">
      Credit Limit:
    </h2>
        <span style="width:50px;display:inline-block"></span>

    <h2 style="font-family: sans-serif; font-size: 21px;positon:relative;color: white; left: 60px; text-align: bottom">
      $ {{ credit }}
    </h2>
        <span style="width:50px;display:inline-block"></span>
    <span style="width:50px;display:inline-block"></span>

  </body>

  <form method="post" action="/result2">
   
  
    
    
  </form>
</html>
